
.base {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.large-rect {
  composes: base;
  width: 250px;
  height: 50px;
  border-radius: 15px;
}

.small-rect {
  composes: base;
  width: 75px;
  height: 50px;
  border-radius: 15px;
}

.apply {
  composes: large-rect;
  composes: lightblue from '../../colors.css';
  composes: header from '../../fonts.css';
}

.add {
  composes: large-rect;
  composes: red from '../../colors.css';
  composes: header from '../../fonts.css';
}

.settings {
  composes: small-rect;
  composes: gray from '../../colors.css';
}

.settings-selected {
  composes: small-rect;
  composes: white from '../../colors.css';
  composes: darkblue from '../../colors.css';

  /*
  background-color: $white;
  color: $darkblue;
  */
}
