@import '../../colors.scss';

.base {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $white;
}

.large-rect {
  composes: base;
  composes: header from '../../fonts.scss';
  width: 250px;
  height: 50px;
  border-radius: 15px;
}

.small-rect {
  composes: base;
  composes: sub-header from '../../fonts.scss';
  width: 75px;
  height: 50px;
  border-radius: 15px;
}

.large-circle {
  composes: base;
  composes: header from '../../fonts.scss';
  width: 65px;
  height: 65px;
  border-radius: 33px;
}

.small-circle {
  composes: base;
  composes: sub-header from '../../fonts.scss';
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.apply {
  composes: large-rect;
  background-color: $lightblue;
}

.add {
  composes: large-rect;
  background-color: $red;
}

.settings {
  composes: small-rect;
  background-color: $gray;
  color: $darkblue;
}

.settings-selected {
  composes: small-rect;
  background-color: $white;
  color: $darkblue;
}

.plus {
  composes: large-circle;
  background-color: $red;
}

.filter-unselected {
  composes: small-circle;
  background-color: $gray;
  color: $darkblue;
}

.filter-motivation {
  composes: small-circle;
  background-color: $orange;
  color: $darkblue;
}

.filter-energy {
  composes: small-circle;
  background-color: $yellow;
  color: $darkblue;
}

.filter-focus {
  composes: small-circle;
  background-color: $green;
  color: $darkblue;
}
