.menuPanel {
  position: absolute;
  width: 300px;
  height: 100%;
  z-index: 1;
  background: lightgray;
}

/*
.menuPanel span {
  font-size: 2rem;
  padding-top: 1.875em;
  padding-bottom: 1.875em;
  width: 100%;
  background-color: rgb(67, 69, 80);
  color: lightgray;
  text-align: center;
}
*/
