.button {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  height: 5em;
  width: 5em;
  border-radius: 2.5em;
  background-color: #d0676c;
  background-color: hsl(357, 53%, 61%);
  text-decoration: none;
  box-shadow: 0 5px 20px 1px #543535;
}

.button span {
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  color: #FFF;
}
