@import '../../colors.scss';

.indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12px;
  margin-bottom: 40px;
}

.dot {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border-radius: 6px;
}

.dot:first-child { margin-left: 0; }

.gray-dot {
  composes: dot;
  background-color: $gray;
}

.red-dot {
  composes: dot;
  background-color: $red;
}

.orange-dot {
  composes: dot;
  background-color: $orange;
}

.yellow-dot {
  composes: dot;
  background-color: $yellow;
}

.green-dot {
  composes: dot;
  background-color: $green;
}
