
.indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12px;
  margin-bottom: 40px;
}

.dot {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #A5A7A6;
}
.dot:first-child {
  margin-left: 0;
}

.gray { background-color: #A5A7A6; }
.gray { background-color: rgba(165,166,165,0.65); }
.red { background-color: #C4727B; }
.orange { background-color: #DA9258; }
.yellow { background-color: #DED447; }
.green { background-color: #4BA861; }
