
.slider {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 110px;
}

.slider > div {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSlide { left: -100%; }
.centerSlide { left: 0; }
.rightSlide { left: 100%; }

.previousSlide {
  transition: 300ms linear;
  transform: translateX(100%);
}
.nextSlide {
  transition: 300ms linear;
  transform: translateX(-100%);
}
.repositionSlide {
  transition: 300ms linear;
  transform: translateX(0);
}
