
.slider {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 110px;
}

.previous {
  transition: 300ms linear;
  transform: translateX(100%);
}

.next {
  transition: 300ms linear;
  transform: translateX(-100%);
}

.reposition {
  transition: 300ms linear;
  transform: translateX(0);
}

.slide {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  composes: slide;
  left: -100%;
}

.center {
  composes: slide;
  left: 0;
}

.right {
  composes: slide;
  left: 100%;
}
