
/* background color */
.darkblue { background-color: #2a5565; }
.red { background-color: #c4727b; }
.orange { background-color: #da9258; }
.yellow { background-color: #ded447; }
.green { background-color: #4ba861; }
.lightblue { background-color: #38a2b5; }

/* grays */
.white { background-color: #fff; }
.gray { background-color: rgba(165, 166, 165, 0.65); }
